<h1>Here are all of your gas purchases</h1>

<% if @gas.any? %>
  <% @gas.all.each() do |purchase| %>
    <ul>
      <li><%= purchase.name %></li>
      <li><%= purchase.date %></li>
      <li>Purchase Price: $<%= purchase.price %></li>
      <li>Purchase Amount: <%= purchase.amount %></li>
      <li>Miles Travelled on One Tank: <%=purchase.miles %></li>
      <li>MPG: <%= purchase.mpg %></li>
      <a href='/delete_purchase/<%= purchase.id()%>'>Delete</a>
    </ul>
  <% end %>
  <h4>The average price for Gas is <%= @average %> </h4>
<% else %>
<h4>There have been no gas purchases</h4>
<% end %>

<form action='/gas_purchases' method='post'>
  <label for='gas_purchase'>Enter a note about the Gas Purchase Here: </label>
  <input id='gas_name' name='gas_name' type='text'><br>
  <label for='gas_purchase'>Enter the Date you bought your Gas Here: </label>
  <input id='gas_date' name='gas_date' type='date'><br>
  <label for='gas_purchase'>Enter the price per Gallon for the Gas ($): </label>
  <input id='gas_price' name='gas_price' type='float'><br>
  <label for='gas_purchase'>Enter the amount of Gas Purchased (eg:gallons): </label>
  <input id='gas_amount' name='gas_amount' type='float'><br>
  <label for='gas_purchase'>Enter how many miles you travelled on this tank of gas: </label>
  <input id='gas_miles' name='gas_miles' type='float'><br>
  <button type='submit'>Add Purchase</button>
</form>


<h5><a href='/'>Back to the Home Page</a></h5>
